.navbar {
    background-color: transparent;
    border: none;
}

.logo {
    margin-top: 25px;
    max-height: 50px;
}

/******************************************/

.background {
    height: 100vh;
    width: 100vw;
    background-image: url(../pictures/reg-back.jpg);
}

.container {
    width: 400px;
    margin-top: 125px;
}

.brand-name {
    font-family: "Bauhaus 93";
    font-size: xx-large;
    color: white;
}

.reg-field {
    height: 50px;
    width: 100%;
}

.log-in-field {
    height: 60px;
    width: 100%;
}

.form-control {
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0;
}

.last-input {
    border-bottom: none;
}

.form-control:hover,
.form-control:focus,
.form-control:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #e8e8e8;
}

.form-control:focus,
.form-control:active {
    background-color: #e8e8e8;
}

.reg-btn,
.reg-btn:active,
.reg-btn:focus,
.reg-btn:active:focus {
    border: none;
    border-radius: 0;
    background-color: #27ae60;
    color: white;
    outline: none;
    font-size: medium;
    margin-top: 25px;
}

.reg-btn:hover {
    background-color: black;
    color: white;
}

.pass-miss-block {
    margin-top: 15px;
}

.pass-miss,
.pass-miss:focus,
.pass-miss:active:focus,
.pass-miss:active {
    font-size: medium;
    color: white;
    outline: none;
}

.pass-miss:hover {
    text-decoration: underline;
    color: white;
}

/******************************************/

.reg-footer {
    position: absolute;
    height: 50px;
    right: 15px;
    bottom: 0;
}

.brand-footer {
    font-family: "Bauhaus 93";
    font-size: large;
    color: white;
}